<Canvas
  @width={{this.WIDTH}}
  @height={{this.HEIGHT}}
  @pixelSize={{this.pixelSize}}
  @clampedArray={{this.clampedArray}}
/>
<div>
  <button type="button" {{on "click" this.onClick}}>Click me</button>
</div>
<pre>{{@code}}</pre>